.content {
    font-family: 'poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 29px;
    font-size: 23px;
    transition: 200ms;

    p{
        border-bottom: transparent 3px solid;
        margin: 0px;
    }

    p:hover{
        cursor: pointer;
        color: #00BEE8;
    }

}

.underline{
    display: block;
    height: 3px;
    width: 55.5px;
    background-color: #4B47FF;
}

.hamburger-menu{
    display: none;

}

.invisible{
    display: none;
}

.visible{
    display: block;
}

.menu-position{
    position: absolute;
    right: -5000px;
    display: none;

   


}

.menu-position-clicked{
    position: absolute;
    left: 0;
    z-index: 10;
    display: flex;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

@keyframes slideIn {
    0% {
      left: -5000px;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }

@media(max-width:1000px){
    .menu{
        display: none;

    }
    .hamburger-menu{
        display: flex;
        cursor: pointer;
        z-index: 15;
    }


}

@media(max-width:800px){
    .content{
        position: sticky;
        top: 0px;
        margin-bottom: 30px;
        z-index: 20;
        left: 0;
        right: 0;
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 10px;
        padding-right:10px;
    }
}