.content {
    font-family: 'poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;
    background-color: #141D2F;
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 29px;
    font-size: 23px;


    p:hover{
        cursor: pointer;
    }

}
