<app-menu-slide-container id="hidden-menu" class="menu-position"></app-menu-slide-container>
<div class="content" id="home">
<app-logo></app-logo>
    

    <div class="menu">
        <div class="item-wrapper" id="item-about">
            <p (click)="scrollTo('about')">About me</p>
            <span id="span-about" class="underline" style="display: none;"></span>
        </div>
        <div class="item-wrapper" id="item-skills">
            <p (click)="scrollTo('skills')">Skills</p>
            <span id="span-skills" class="underline" style="display: none;"></span>
        </div>
        <div class="item-wrapper" id="item-portfolio">
            <p (click)="scrollTo('portfolio')">Portfolio</p>
            <span id="span-portfolio" class="underline" style="display: none;"></span>
        </div>
        <div class="item-wrapper" id="item-contact">
            <p (click)="scrollTo('contact')">Contact</p>
            <span id="span-contact" class="underline" style="display: none;"></span>
        </div>

    </div>

    <div class="hamburger-menu" >
        <img (click)="openBurgerMenu()" id="burger" src="assets/burger/burger-standard.png" alt="">
    </div>

</div>