.content {
    font-family: 'poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 29px;
    font-size: 23px;
    transition: 200ms;


    p:hover{
        cursor: pointer;
        color: #00BEE8;
    }

}

.hamburger-menu{
    display: none;

}

.invisible{
    display: none;
}

.visible{
    display: block;
}

@media(max-width:1000px){
    .menu{
        display: none;

    }
    .hamburger-menu{
        display: flex;
        cursor: pointer;
    }


}