$distance : 15%;
$-distance : -22%;

.content{
    height:291px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 4px solid #00BEE8;
    margin-left: $-distance;
    margin-right: $-distance;

    img{
        width: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.socials{
    width: 100%;
    padding-left: $distance;
    padding-right: $distance;
    display: flex;
    justify-content: space-between;
    align-items: center;

}