<div class="content">

    <div class="socials">
        <div>
            Matthias
        </div>
        <div>
            © Matthias Schmitz 2023
        </div>
        <div class="img-container">
            <div class="img-wrapper"><img src="../../assets/icons/Github button.svg" alt="Github"></div>
            <div class="img-wrapper"><img src="../../assets/icons/Email button.svg" alt="Email"></div>
            <div class="img-wrapper"><img src="../../assets/icons/Linkedin button.svg" alt="Linkedin"></div>
        </div>

    </div>

</div>