$distance : 15%;
$-distance : -22%;

.content{
    height:291px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 4px solid #00BEE8;
    margin-left: $-distance;
    margin-right: $-distance;

    img{
        width: 30px;


        &:hover{
            width: 40px;
            cursor: pointer;
        }
    }
}

.img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

    width: 40px;
}

.socials{
    width: 100%;
    padding-left: $distance;
    padding-right: $distance;
    display: flex;
    justify-content: space-between;
    align-items: center;

}