<div class="content">

    <div class="socials">
        <div>
            Matthias
        </div>
        <div>
            © Matthias Schmitz 2023
        </div>
        <div class="img-container">
            <a href="https://github.com/MatthiasSchmitz95" target="_blank" rel="noreferrer noopener"
                class="img-wrapper"><img src="../../assets/icons/Github button.svg" alt="Github"></a>
            <a href="mailto:your-email@example.com" target="_blank" rel="noreferrer noopener" class="img-wrapper"><img
                    src="../../assets/icons/Email button.svg" alt="Email"></a>
            <a href="" class="img-wrapper" target="_blank" rel="noreferrer noopener"><img
                    src="../../assets/icons/Linkedin button.svg" alt="Linkedin"></a>
        </div>

    </div>

</div>