<form autocomplete="off" class="contact-form" (submit)="sendMail()" ngNativeValidate #myForm>
    <input required id="inputName" (click)="inputCheck('inputName','errName')"
        (input)="inputCheck('inputName','errName')" class="data transparent-input" type="text" name="name" #nameField
        placeholder="Your name">
    <div style="display: none;" class="err" id="errName">Your name is required </div>

    <input required id="inputEmail" (click)="inputCheck('inputEmail','errEmail')"
        (input)="inputCheck('inputEmail','errEmail')" class="data transparent-input" type="email" name="email"
        #emailField placeholder="Your email">
    <div style="display: none;" class="err" id="errEmail">Your valid email is requiered </div>
    <textarea id="inputMessage" (click)="textCheck('inputMessage','errMessage')"
        (input)="textCheck('inputMessage','errMessage')" class="message" name="message" #textField
        placeholder="Your message"></textarea>
    <div style="display: none;" class="err" id="errMessage">Your message is required </div>

    <div class="send-container">
        <button #send class="send" type="submit">Send message :)</button>
        <div id="loader" class="outer-ring center" style="display: none;">
            <div class="inner-ring center" ></div>
        </div>

        <div id="success" class="success-sent" style="display:none;">
            <p>sent!</p>
            <img src="assets/background-img/green-check.png" alt="green check">

        </div>
        
    </div>
</form>