.transparent-input:-webkit-autofill,
.transparent-input:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important; /* Set text color to white */
  -webkit-background-clip: text !important; /* Use text as background clip */
  background-color: transparent !important; /* Set background color to transparent */
  background-image : url('../../assets/background-img/green-check.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 21px;

  -webkit-box-shadow: none !important; /* Remove box shadow */
  transition: background-color 5000s ease-in-out 0s; /* Prevent Chrome from applying its transition */
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

p {
    margin: 0;
}

input {
    color: white;
    background-color: transparent;
    width: 617px;
    height: 68px;
    border: 1px solid #4B47FF;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1;
        font-size: 16px;
        /* Firefox */
    }

    &:hover {
        border: 1px solid #00BEE8;


    }

    &:focus {
        outline: none;
        border: 1px solid #00BEE8;



    }

}

.data {
    margin-top: 20px;
    height: 38px;
}

.message {
    height: 202px;
    color: white;
    background-color: transparent;
    width: 617px;
    border: 1px solid #4B47FF;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    resize: vertical;
    margin-top: 30px;
    background-image: url('../../assets/background-img/resizer.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) calc(100% - 10px);
    

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1;
        font-size: 16px;
        /* Firefox */
    }

    &:hover {
        border: 1px solid #00BEE8;


    }

    &:focus {
        outline: none;
        border: 1px solid #00BEE8;


    }

    &::-webkit-resizer {

        background-color: transparent;
    }
}

.send-container {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.send {
    margin-top: 30px;
    padding: 15px 30px 15px 30px;
    background-color: #00BEE8;
    width: 253px;
    height: 58px;
    border-radius: 10px;
    color: white;
    font-size: 23px;


    &:hover {
        padding: 20px 40px 20px 40px;
        background-color: #4B47FF;
        width: 273px;
        height: 68px;


    }

}

.err{
    margin-top: 7px;
    color: #E61C40 ;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}



.err-message{
    border : 1px solid #E61C40 !important;
    background-image : url('../../assets/background-img/red-error.png'),url('../../assets/background-img/resizer.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 21px,calc(100% - 10px) calc(100% - 10px);

}
.viable-message{
    border : 1px solid #70E61C !important;
    background-image : url('../../assets/background-img/green-check.png'),url('../../assets/background-img/resizer.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 21px,calc(100% - 10px) calc(100% - 10px);

}

.viable{
    border : 1px solid #70E61C !important;
    background-image : url('../../assets/background-img/green-check.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 21px;
}

.error{
    border : 1px solid #E61C40 !important;
    background-image : url('../../assets/background-img/red-error.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 21px;
}


button[disabled] {
    background-color: #a9cad1; /* Apply your desired background color for disabled button */
    cursor: not-allowed; /* Set cursor style to not-allowed to indicate it's disabled */
    /* Add any additional styles as needed */
  }
  
  button[disabled]:hover {
    background-color: #a9cad1;
    width: 253px;
    height: 58px;
    padding:15px 30px 15px 30px;
     /* Apply the same background color for disabled button on hover */
    /* Add any additional styles as needed */
  }

  input[disabled]{
    background-color: #a9cad1 !important;

  }

  textarea[disabled]{
    background-color: #a9cad1;

  }


@media(max-width:729px){
    
    input{
        width: 247px;
    }
    

    .message{
        width: 247px;
    }

}

@media(max-width:600px){
    .contact-form{
        width: 280px;
    }

    input{
        height: 40px;
    }

    .message{
        height: 40px;
    }
    
}


