<div class="content">
    <div class="button-container responsive">
        <button (click)="scrollTo('contact')" >Get in touch</button>
    </div>
    <span class="background-wrapper"></span>
    <div class="skill-icons">
        <div class="skill-icon" *ngFor="let img of images ">
            <img src="{{img.src}}" alt="">
            <p>{{img.name}}</p>
        </div>
        
    </div>
    <div class="skill-info">
        <div class="skill-decoration">
            <h2 id="skills">My skills</h2>
            <span></span>
        </div>
        
        <p>I have grown my frontend development skills <br> that have allowed me to create different real projects.</p>
        <div  class="button-container non-responsive">
            <button (click)="scrollTo('contact')" class="">Get in touch</button>
        </div>
        
    </div>
    

</div>