.content{
    display: flex;
    align-items: center;
}

h3{
    color: #9747FF;
    font-size:    32px;
}

p{
    color: #70E61C;
    font-size:    23px;
    
}

span{
    color: white;
    font-size:    16px;
}

img{
    width: 520px;
    height: 520px;
    
}