<div class="content">
    <div class="background-wrapper"></div>
    <div class="title">
        <span class="line"></span>
        <h2>Contact</h2>
    </div>


<div class="contact-container">
    <div>
        <p>Got a Problem to solve?</p>
        <span>Contact me through this form, I am interested in hearing you,<br>
             knowing your ideas and contributing to your projects with my work. <br>
            </span>
        <span>Need a Frontend developer? <b>Contact me!</b></span>
    </div>
    <form class="contact-form" action="">
        <input class="data" type="email" placeholder="Your Name">
        <input class="data" type="text" placeholder="Your email" >        
        <textarea class="message" type="text" placeholder="Your message"></textarea>
        <div class="send-container">
            <button class="send">Send message:)</button>
        </div>
        
    </form>
</div>
<div class="flex-end" >
    <img class="circle" src="../../assets/icons/arrow-down-line.png" alt="arrow-up">
</div>
</div>

