$distance : 15%;
$-distance : -22%;



p {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px !important;
}

span {
    font-size: 16px;
}

.content {
    color: white;
    position: relative;


}

.title {
    display: flex;
    align-items: center;

}

.line {
    position: absolute;
    display: block;
    width: 50px;
    height: 4px;
    background-color: #4B47FF;
    margin-left: $-distance;
}

.contact-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

p {
    margin: 0;
}

input {
    color: white;
    background-color: transparent;
    width: 617px;
    height: 68px;
    border: 1px solid #4B47FF;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1;
        font-size: 16px;
        /* Firefox */
    }

    &:hover {
        border: 1px solid #00BEE8;


    }

    &:focus {
        outline: none;
        border: 1px solid #00BEE8;



    }

}

.data {
    margin-top: 20px;
    height: 38px;
}

.message {
    height: 202px;
    color: white;
    background-color: transparent;
    width: 617px;
    border: 1px solid #4B47FF;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    resize: vertical;
    margin-top: 30px;
    background-image: url('../../assets/background-img/resizer.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) calc(100% - 10px);
    

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1;
        font-size: 16px;
        /* Firefox */
    }

    &:hover {
        border: 1px solid #00BEE8;


    }

    &:focus {
        outline: none;
        border: 1px solid #00BEE8;


    }

    &::-webkit-resizer {

        background-color: transparent;
    }
}

.send-container {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.send {
    margin-top: 30px;
    padding: 15px 30px 15px 30px;
    background-color: #00BEE8;
    width: 253px;
    height: 58px;
    border-radius: 10px;
    color: white;
    font-size: 23px;


    &:hover {
        padding: 20px 40px 20px 40px;
        background-color: #4B47FF;
        width: 273px;
        height: 68px;


    }

}

.circle {
    margin-top: 90px;
    margin-bottom: 20px;
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 100px;

    &:hover {

        filter: invert(49%) sepia(98%) saturate(1874%) hue-rotate(155deg) brightness(104%) contrast(103%);
    }



}

.flex-end {
    display: flex;
    justify-content: flex-end;

    img {
        rotate: 180deg;

    }
}

.background-wrapper {
    width: 747.4670534978px;
    height: 902.7891996463px;
    bottom: 0;
    left: 0px;
    position: absolute;
    margin-left: $-distance;
    background-image: url('../../assets/background-img/bg5.png');
    background-repeat: no-repeat;
    background-position-y: 393px;
    z-index: -1;


}

.err{
    margin-top: 7px;
    color: #E61C40 ;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
}



.err-message{
    border : 1px solid #E61C40 !important;
    background-image : url('../../assets/background-img/red-error.png'),url('../../assets/background-img/resizer.png');
    background-repeat: no-repeat;
    background-position: 600px 21px,calc(100% - 10px) calc(100% - 10px);

}
.viable-message{
    border : 1px solid #70E61C !important;
    background-image : url('../../assets/background-img/green-check.png'),url('../../assets/background-img/resizer.png');
    background-repeat: no-repeat;
    background-position: 600px 21px,calc(100% - 10px) calc(100% - 10px);

}

.viable{
    border : 1px solid #70E61C !important;
    background-image : url('../../assets/background-img/green-check.png');
    background-repeat: no-repeat;
    background-position: 600px 21px;
}

.error{
    border : 1px solid #E61C40 !important;
    background-image : url('../../assets/background-img/red-error.png');
    background-repeat: no-repeat;
    background-position: 600px 21px;
}



@media(max-width:1000px){
    .line{
        margin-left: -6%;
        width: 20px;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
}
