<div class="content">
    <div class="header">
        <div class="title">
            <span class="left"></span>
            <h2>Portfolio</h2>
            <span class="right"></span>
            

        </div>
        <p>This page is a sample of my work - please feel free to try them out</p>
        <app-project-sample [img]="'../..assets/samples/join.png'" [text]="'test'" [skills]="'Firebase'" [description]="'Test'"></app-project-sample>
        <app-project-sample></app-project-sample>
        <app-project-sample></app-project-sample>
        <app-project-sample></app-project-sample>
        

    </div>


</div> 
