<div class="content">
    <div class="background-wrapper"></div>
    <div class="header">
        <div class="title">
            <span class="left"></span>
            <h2 id="portfolio">Portfolio</h2>
            <span class="right"></span>


        </div>
        <p>This page is a sample of my work - please feel free to try them out</p>
    </div>


    <div>
        <app-project-sample github="https://github.com/MatthiasSchmitz95/Join"
            website="https://matthias-schmitz.developerakademie.net/Join/index.html" img="../../assets/samples/join.png"
            [title]="'Join'" [skills]="'Angular | Typescript | CSS | Firebase'"
            [description]="'Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. '">
        </app-project-sample>
        <app-project-sample github="https://github.com/MatthiasSchmitz95/El-pollo-loco"
            website="https://matthias-schmitz.developerakademie.net/El%20pollo%20loco/index.html"
            img="../../assets/samples/pollo-loco 1.png" [title]="'El pollo loco'" [skills]="'JavaScript | HTML | CSS'"
            [description]="'A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and poison bottles to fight against the killer whale.'"></app-project-sample>
        <app-project-sample github="https://github.com/MatthiasSchmitz95/Join"
            website="https://matthias-schmitz.developerakademie.net/Join/index.html"
            img="../../assets/samples/simple CRM.png" [title]="'Simple CRM'" [skills]="'Angular | Firebase'"
            [description]="'A very Simple Customer Relationship Management system working with CRUD functionality.'"></app-project-sample>



    </div>

    <div class="background-wrapper-bottom"></div>


</div>