<span><img src="../../assets/background-img/Vector.svg" alt=""></span>
<div class="content">

    <div class="information">
        <h2>About me</h2>
        <div class="left-container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ratione deserunt natus pariatur non
                debitis sapiente numquam deleniti, beatae, magni quod vel saepe est alias quis error eligendi maiores
                in.</p>

            <div class="examples">
                <div class="onside">
                    <img class="icon-container" src="../../assets/icons/bulb desktop.png">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aspernatur eius et atque sunt,
                        molestiae
                        beatae quam ipsum consequuntur, tempore facilis, iusto soluta nihil ipsam aliquid eum. Ullam
                        accusamus
                        amet praesentium sit, nihil molestias voluptatibus vel nam minus beatae optio dolore architecto
                        aut
                        dicta non exercitationem adipisci soluta, aliquam dolorum?</p>

                </div>

                <div class="onside">
                    <img class="icon-container" src="../../assets/icons/puzzle desktop.png">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel impedit consequuntur repellat
                        voluptate ad
                        sed vitae quidem magni deleniti atque! Quasi eius nisi inventore rerum laboriosam, nam, expedita
                        odio
                        doloremque mollitia magnam omnis hic. Qui iure voluptas alias provident ullam?</p>

                </div>

            </div>

        </div>
    </div>
    <div class="right-container">
        Img placeholder
    </div>


</div>