<div class="content">
    <span class="background-wrapper"></span>

    <div class="information">
        <h2 id="about-me">About me</h2>
        <div class="left-container">
            <p>Meet an enthusiastic individual with an unwavering passion for coding. Eager to enhance their skills as a
                frontend developer, they possess a strong drive to continuously learn and grow. With ambitions to become
                a proficient full-stack developer, they are dedicated to pursuing excellence in their coding journey.
            </p>

            <div class="examples">
                <div class="onside">
                    <div class="icon-container">
                        <img class="img" src="../../assets/icons/bulb desktop.png">
                    </div>
                    <p> I am a solution-oriented software developer who finds joy in coding. With a thirst for knowledge
                        and
                        a passion for problem-solving, they constantly seek to broaden their horizons and expand their
                        skillset. Equipped with a strong desire to excel, they tackle challenges head-on, bringing
                        creativity and determination to every project. Committed to delivering high-quality solutions,
                        they embrace new technologies and methodologies, paving the way towards becoming a well-rounded
                        and versatile developer.</p>

                </div>

                <div class="onside">
                    <div class="icon-container">
                        <img class="img" src="../../assets/icons/puzzle desktop.png">
                    </div>
                    <p>With a strong determination to grow as a software developer, they actively seek out opportunities
                        that test their skills and expand their expertise. Eager to refine their problem-solving
                        abilities, they view each challenge as an opportunity for personal and professional growth,
                        positioning themselves to become an exceptional software developer.</p>

                </div>

            </div>

        </div>
    </div>

    <div class="right-container">
        <div class="img-container">
            <img src="../../assets/myImg/portrait1.png" alt="">
        </div>
        <span></span>

    </div>


</div>