$distance : 200px;
$-distance : -200px;

.content {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
    z-index: 6;
    padding-bottom: 250px;
    padding-left:$distance;
    padding-right: $distance;
    padding-top: $distance;


}

.background-wrapper {
    width: 314px;
    height: 800px;
    top: -266px;
    right: 0;
    position: absolute;
    background-image: url('../../assets/background-img/bg1.png');
    background-repeat: no-repeat;


}



h2 {
    font-size: 90px;
    margin: 0px;
    z-index: 16;
    position: relative;
}

p {
    margin: 0px;
    margin-top: 50px;

}

.left-container {
    margin-right: 100px;
}

.right-container {
    span {
        width: 200px;
        height: 4px;
        background-color: #00BEE8;
        position: relative !important;
        scale: 1 !important;
        rotate: 0deg !important;
    }


    display: flex;
    align-items: center;
    margin-right: $-distance;



}

.img-container {
    position: relative;
    width: 50%;
    width: 453px;
    height: 453px;
    border-radius: 50%;
    border: 4px solid #00BEE8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        height: 1000px;
        position: absolute;
        top: -55px;
    }

}

.information{
    display: flex;

}

.icon-container {
    width: 80px;
    height: 80px;
    position: relative;
    margin-right: 50px;
}

.icon-container img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.icon-container:hover img {
    width: 80px;
    height: 80px;
}



.onside {
    display: flex;
    align-items: center;
}

@media(max-width:1380px){
   .img-container{
    width: 300px;
    height: 300px;

    img{
        height: 673px;
        position: absolute;
        top: -28px;

    }
   }

   .left-container{
    margin-right: 70px;
   }
   

}


@media(max-width:1205px){
    .right-container{
        display: none;
    }

}

@media(max-width:1025px){
    .left-container{
        width: 100%;
        margin-right: 0px;
        z-index: 16;
        position: relative;
    }

    $distance : 32px;

    .content{
        padding-left:$distance;
        padding-right:$distance;
    }

    .background-wrapper{
        margin-right:-32px;
    }
}