<div class="content">
    <div class="content-head">
        <div class="profile-img-container">
            img placeholder
        </div>
    
        <div class="name-container">
            <div class="row">
                <p class="t-size-1">I am</p>
    
                <div class="center">
                    <p class="t-size-2">Matthias Schmitz</p>
                    <p class="t-size-3">FRONTEND DEVELOPER</p>
                </div>

            </div>


          


            <button class="home-button">Lets Talk!</button>
    
        </div>
    </div>


    <div class="socials">
        <div class="link-container">
            <span></span>
            <a href=""><img src="../../assets/icons/Github button.svg" alt="Github"></a>
            <a href=""><img src="../../assets/icons/Email button.svg" alt="Email"></a>
            <a href=""><img src="../../assets/icons/Linkedin button.svg" alt="Linkedin"></a>
            
            <a href="email">m6schmitz123@gmail.com</a>

        </div>

        <div class="scroll-container">
            
            <p> Scroll down</p>
            <img src="../../assets/icons/arrow-down-line.png" alt="arrow down">
        
        </div>

    </div>
</div>
