$distance : 15%;
$-distance : -22%;
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #141D2F;

}

.background-wrapper{
    position: absolute;
    background-image: url('../../assets/background-img/profile-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -147px;
    width: 860px;
    height: 860px;

}

.content-head {
    padding: 0px;
    display: flex;
    justify-content: space-between;
   

}

.profile-img-container {
    position: relative;
    z-index: 0;

    img {
        height: 788px;
        object-fit: cover;
        z-index: 3;
    }
}


.name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row {
    display: flex;
    align-items: center;
}

.t-size-1 {
    font-size: 64px;
    rotate: -90deg;
    color: white;
    margin: 0px;
    height: 64px;

}

.t-size-2 {
    font-size: 69px;
    font-weight: 700;
    margin: 0px;
    color: white;
}

.t-size-3 {
    font-size: 58px;
    font-weight: 400;
    margin: 0px;
    color: #4B47FF;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials {
    span {
        width: 100px;
        height: 0px;
        border: 4px solid #4B47FF;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
    }

    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    z-index: 6;
    margin-left: $-distance;



}
.img-wrapper{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    a {
        color: white;
        display: flex;
        align-items: center;

       img:hover{
            width: 40px;
        }

    }
}

.link-container {
    display: flex;
    align-items: center;
}

.scroll-container {
    display: flex;
    color: white;
    rotate: 90deg;
    font-size: 23px;

    img {
        width: 24px;
        rotate: -90deg;
        display: flex;
        margin-top: 5px;
        margin-left: 10px;
    }

}

p {
    margin: 0px;
}

.home-button-container {
    width: 180px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7 !important;
}

.home-button {
    width: 165px;
    height: 58px;
    color: white;
    font-size: 23px;
    background-color: #00BEE8;
    border-radius: 15px;
    padding: 15px 30px 15px 30px;
    z-index: 7 !important;

    &:hover {
        padding: 20px 40px 20px 40px;
        background-color: #4B47FF;
        width: 185px;
        height: 68px;

    }

}

.vector-import {
    position: absolute;
    left: 0px;
    top: 309px;
    width: 100vw;
    z-index: 5;

}