<img class="vector-import" src="assets/background-img/Vector.svg" alt="">
<div class="content" id="home-section">
    <div class="content-head">
        <div class="background-wrapper"></div>
        <div class="profile-img-container ">
            <img src="assets/myImg/front1.png" alt="">
        </div>

        <div class="name-container">
            <div class="row">
                <p class="t-size-1">I am</p>

                <div class="center">
                    <p class="t-size-2">Matthias Schmitz</p>
                    <p class="t-size-3">FRONTEND DEVELOPER</p>
                </div>

            </div>
            <div class="home-button-container">
                <button (click)="scrollTo('contact')" class="home-button">Lets Talk!</button>
            </div>


        </div>
    </div>
    <div class="socials">
        <div class="link-container">
            <span></span>

            <div *ngFor="let src of sources; let i = index">
                <div class="img-wrapper">
                    <a href="{{links[i]}}" target="_blank" rel="noreferrer noopener"><img src="{{src}}" alt=""></a>
                </div>
            </div>
            <a class="responsive" href="mailto:your-email@example.com">m6schmitz123@gmail.com</a>

        </div>
    </div>

    <div class="scroll-container">

        <p> Scroll down</p>
        <img src="assets/icons/arrow-down-line.png" alt="arrow down">

    </div>
</div>